---
import { fetchBookmarks } from '../../api/raindrop';
import BookmarkItem from './BookmarkItem.astro';
import Grid from '../Grid.astro';
import GridBox from '../GridBox.astro';

import SectionContent from '@components/SectionContent.astro';

// Data fetching in frontmatter
const bookmarks = await fetchBookmarks(0);
const firstTenBookmarks = bookmarks.slice(0, 10);

interface Props {
    classes?: string;
}

const { classes } = Astro.props as Props;
---

<div>
    <SectionContent title="Bookmarks" linkText="more bookmarks" linkUrl="/bookmarks">
        These are the latest articles, websites, and videos I've bookmarked as exciting, helpful, or
        simply fun to consume.
    </SectionContent>
    <Grid classes={classes}>
        <GridBox desktopFull classes="mt-12">
            <ul>
                {firstTenBookmarks.map((bookmark) => <BookmarkItem bookmark={bookmark} />)}
            </ul>
        </GridBox>
        <GridBox desktopFull classes="flex align-center justify-end mt-4">
            <ul class="flex flex-wrap gap-x-4 gap-y-1 font-mono text-2xs">
                <li>
                    <span class="mr-1 inline-block h-2 w-2 rounded-full bg-green"></span>Article
                </li>
                <li>
                    <span class="mr-1 inline-block h-2 w-2 rounded-full bg-lilac"></span>Website
                </li>
                <li><span class="mr-1 inline-block h-2 w-2 rounded-full bg-blue"></span>Video</li>
                <li><span class="mr-1 inline-block h-2 w-2 rounded-full bg-red"></span>Misc</li>
            </ul>
        </GridBox>
    </Grid>
</div>

<script src="../../scripts/listItemImageHoverEffect.js"></script>
