---
export const prerender = false;

// TODO: Implement country-specific postcards page
const { country } = Astro.params;
---

<html>
    <body>
        <h1>Postcards from {country}</h1>
        <p>Coming soon...</p>
    </body>
</html>
