---
import MovieItem from './MovieItem.astro';

interface Props {
    year: number;
    films: Array<{
        title: string;
        watched_on: string;
        rating: number;
        liked: boolean;
        rewatched: boolean;
        permalink: string;
    }>;
}

const { year, films = [] } = Astro.props;
---

<div class="relative grid grid-cols-12 gap-4">
    <h2
        class="col-start-1 col-end-13 h-fit pb-2 pt-10 font-mono md:sticky md:top-12 md:col-end-3 md:mb-8 md:pb-2"
    >
        {year}
    </h2>
    <div class="col-start-1 col-end-13 md:col-start-4">
        {films.map((film) => <MovieItem film={film} />)}
    </div>
</div>