---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Grid from '@components/Grid.astro';
import GridBox from '@components/GridBox.astro';
import TagCloud from '@components/TagCloud.astro';
import YearContainer from '@components/blog/YearContainer.astro';
import SectionContent from '@components/SectionContent.astro';

// Get all blog posts and sort by date
const allBlogPosts = await getCollection('blog');

const sortedPosts = allBlogPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const postsByYear = sortedPosts.reduce(
    (acc, post) => {
        const year = post.data.date.getFullYear();
        if (!acc[year]) {
            acc[year] = [];
        }
        acc[year].push(post);
        return acc;
    },
    {} as Record<number, typeof sortedPosts>
);

const years = Object.keys(postsByYear)
    .map(Number)
    .sort((a, b) => b - a);

// Generate tag counts for the tag cloud
const allCategories = allBlogPosts.flatMap((post) => post.data.category || []);
const categoryCounts = allCategories.reduce(
    (acc, tag) => {
        acc[tag] = (acc[tag] || 0) + 1;
        return acc;
    },
    {} as Record<string, number>
);

const categoryCloudData = Object.entries(categoryCounts).map(([name, count]) => ({ name, count }));
---

<Layout title="Blog | iamrob.in">
    <Grid classes="py-20">
        <GridBox desktopFull>
            <SectionContent title="Blog" classes="!px-0">
                After years of wanting to have a blog, I am finally putting pen to paper (or fingers
                to keyboard). It took me some time to build the courage, but now I’m excited to dive
                into a variety of topics that interest me. Your feedback and perspectives are always
                welcome and I'm looking forward to the conversations that will come from these
                posts.
            </SectionContent>

            <TagCloud
                tags={categoryCloudData}
                basePath="/blog"
                filterPath="category"
                filterLabel="category"
                total={allBlogPosts.length}
            />

            <div>
                {years.map((year) => <YearContainer posts={postsByYear[year]} year={year} />)}
            </div>
        </GridBox>
    </Grid>
</Layout>

<script src="../../scripts/listItemImageHoverEffect.js"></script>
