@font-face {
    font-family: 'apercu';
    src:
        url('/fonts/apercu-regular-pro.woff2') format('woff2'),
        url('/fonts/apercu-regular-pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'apercu';
    src:
        url('/fonts/apercu-bold-pro.woff2') format('woff2'),
        url('/fonts/apercu-bold-pro.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

/* fira-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-mono-v14-latin-regular.woff2') format('woff2');
}
/* fira-mono-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/fira-mono-v14-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'LiebeHeide';
    src: url('/fonts/LiebeHeide-FinelinerBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 16px;
}

:root {
    --active-bg-color: #f1f5f9;
}

.noteCardEffect {
    position: relative;
}
.noteCardEffect:before,
.noteCardEffect:after {
    z-index: -1;
    position: absolute;
    content: '';
    width: 50%;
    top: 80%;
    background: tomato;
    box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.3);
}
.noteCardEffect:before {
    left: 0.5rem;
    bottom: 16px;
    transform: rotate(-3deg);
}
.noteCardEffect:after {
    transform: rotate(3deg);
    bottom: 16px;
    right: 0.5em;
}
.noteCardEffect.hide-before:before {
    display: none;
}
.noteCardEffect.hide-after:after {
    display: none;
}

.corner-shadow-effect {
    position: relative;
}
.corner-shadow-effect:before,
.corner-shadow-effect:after {
    z-index: -1;
    position: absolute;
    content: '';
    width: 50%;
    top: 80%;
    box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.3);
}
.corner-shadow-effect:before {
    left: 0.5rem;
    bottom: 16px;
    transform: rotate(-3deg);
}
.corner-shadow-effect:after {
    transform: rotate(3deg);
    bottom: 16px;
    right: 0.5em;
}
.corner-shadow-effect.hide-before:before {
    display: none;
}
.corner-shadow-effect.hide-after:after {
    display: none;
}
