@import "tailwindcss";

@import "./theme/typography.css";

/*
 * Breakpoints:
 * - small: < 480px
 * - medium: 480px - 800px
 * - large: > 800px
 */

:root {
    --max-width: 896px;
    --gap: 16px;
    --columns: 12;

    --font-script: "LiebeHeide";
}

body {
    font-family: "apercu", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media (max-width: calc(800px + 32px)) {
    body {
        padding-inline: var(--gap);
    }
}
