@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import "./utilities/utilities.css";
@import "./theme/colors.css";
@import "./theme/transitions.css";
@import "./theme/typography.css";
@import "./theme/breakpoints.css";
@import "./view-transition.css";

:root {
    --max-width: 1024px;
    --gap: 16px;
    --columns: 12;
}

body {
    font-family: "apercu", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@layer base {
    .corner-shadow-effect {
        position: relative;
    }
    .corner-shadow-effect:before,
    .corner-shadow-effect:after {
        z-index: -1;
        position: absolute;
        content: "";
        width: 50%;
        top: 80%;
        box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.3);
    }
    .corner-shadow-effect:before {
        left: 0.5rem;
        bottom: 16px;
        transform: rotate(-3deg);
    }
    .corner-shadow-effect:after {
        transform: rotate(3deg);
        bottom: 16px;
        right: 0.5em;
    }
    .corner-shadow-effect.hide-before:before {
        display: none;
    }
    .corner-shadow-effect.hide-after:after {
        display: none;
    }
    .corner-shadow-effect-left {
        position: relative;
    }
    .corner-shadow-effect-left:before {
        z-index: -1;
        position: absolute;
        content: "";
        width: 50%;
        top: 80%;
        box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.3);
        left: 0.5rem;
        bottom: 16px;
        transform: rotate(-3deg);
    }
    .corner-shadow-effect-right {
        position: relative;
    }
    .corner-shadow-effect-right:before {
        z-index: -1;
        position: absolute;
        content: "";
        width: 50%;
        top: 80%;
        box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.3);
        transform: rotate(3deg);
        bottom: 16px;
        right: 0.5em;
    }
}
