@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import "./utilities/utilities.css";
@import "./theme/typography.css";
@import "./theme/transitions.css";
@import "./view-transition.css";

:root {
    --max-width: 1024px;
    --gap: 16px;
    --columns: 12;
}

body {
    font-family: "apercu", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@media (max-width: calc(800px + 32px)) {
    body {
        padding-inline: var(--gap);
    }
}
