---
import SectionContent from '@components/SectionContent.astro';
import { currentlyReadingQueryResponse, shelfQueryResponse } from 'src/api/literal';
import YearlyBookSlider from './YearlyBookSlider';
import InlineLink from '@components/InlineLink.astro';
import { getAllObsidianGardenEntries, type GardenEntry } from 'src/api/github';

export interface Author {
    name: string;
}

export interface Book {
    title: string;
    cover: string;
    pageCount: number;
    id: string;
    slug: string;
    authors: Author[];
    currentlyReading?: boolean;
    review: {
        id: string;
        rating: number;
        spoiler: boolean;
        text: string;
        createdAt: string;
        updatedAt: string;
        tags: any[];
    };
}

export interface Shelf {
    title: string;
    books: Book[];
}

const yearlyShelfData = await shelfQueryResponse();

const currentlyReadingJson = await currentlyReadingQueryResponse();
const currentlyReadingData = currentlyReadingJson.data;

const currentYear = new Date().getFullYear();
const currentYearString = currentYear.toString();
let currentYearShelf = yearlyShelfData.find((shelf: Shelf) => shelf.title === currentYearString);

if (!currentYearShelf) {
    currentYearShelf = {
        title: currentYearString,
        books: []
    };
    yearlyShelfData.push(currentYearShelf);
}

currentlyReadingData.booksByReadingStateAndProfile.forEach((book: Book) => {
    book.currentlyReading = true;
    currentYearShelf.books.unshift(book);
});

const obsidianEntries = await getAllObsidianGardenEntries('books');
const obsidianBookEntryNames = obsidianEntries.map((entry: GardenEntry) => entry.name);
---

<div>
    <SectionContent title="Books">
        I would like to read more books. Keeping a list of all the books I've read and enjoyed will
        hopefully help me do that. Each book links to its corresponding page on the awesome book
        platform <InlineLink external href="https://literal.club/iamrobin">Literal</InlineLink>.
    </SectionContent>
    <YearlyBookSlider
        shelfs={yearlyShelfData}
        gardenBookEntries={obsidianBookEntryNames}
        client:load
    />
</div>
