---
import BookItem from "./BookItem.astro";
import type { Book } from "@api/github-books";

interface Props {
    title: string;
    books: Book[];
}

const { title, books = [] } = Astro.props;
---

{
    books.length > 0 && (
        <div class="relative grid grid-cols-12 gap-4">
            <h2 class="col-start-1 col-end-13 h-fit pb-2 pt-10 font-mono md:sticky md:top-12 md:col-end-3 md:mb-8 md:pb-2">
                {title}
            </h2>
            <div class="col-start-1 col-end-13 md:col-start-4">
                {books.map((book) => (
                    <BookItem book={book} />
                ))}
            </div>
        </div>
    )
}
