---
import { Image } from 'astro:assets';

const imageFiles = Object.values(import.meta.glob('../../src/assets/365/*', { eager: true }));
---

<div class="mx-auto mb-5 w-full columns-1 gap-3 px-4 sm:columns-2 md:columns-3 lg:columns-4">
    {
        imageFiles.map((img: any) => (
            <Image
                src={img.default}
                width="600"
                alt="Photo of a pizza"
                class="mb-3 w-full rounded"
            />
        ))
    }
    <Slider classes="xl:mt-12">
        {
            photos.map((photo: any, index) => (
                <SliderItem size="medium" classes="group relative mt-2">
                    <figure class="h-full w-full">
                        {(photos.length - index - 1) % 7 === 0 && (
                            <div
                                style={{ backgroundImage: `url(${badge.src})` }}
                                class="absolute -right-5 -top-5 flex h-20 w-20 rotate-12 items-center justify-center rounded-full bg-cover bg-no-repeat text-lilac-dark transition-all duration-300 group-hover:rotate-[18deg] group-hover:scale-105"
                            >
                                <div class="mt-1 flex flex-col text-center">
                                    <div class="text-xs">Week</div>
                                    <div class="-mt-1 text-base font-bold">
                                        0{Math.ceil((photos.length - index) / 7)}
                                    </div>
                                </div>
                            </div>
                        )}
                        {photo ? (
                            <Image
                                src={photo.default}
                                alt="test image"
                                widths={[640]}
                                sizes={`320px`}
                                class="bg-neutral-100"
                            />
                        ) : (
                            <div class="flex h-[calc(100%-45px)] w-full items-center justify-center self-start border-2 border-dashed border-black-200 text-center text-black-400">
                                <div class=" flex flex-col items-center gap-2">
                                    <SmileyNervous
                                        weight="regular"
                                        size={40}
                                        color="rgba(0,0,0,0.2)"
                                    />
                                    <p>
                                        No photo
                                        <br />
                                        uploaded yet
                                    </p>
                                </div>
                            </div>
                        )}
                        <figcaption
                            class={`mt-2 flex items-center gap-3 font-mono text-xs ${
                                photo === undefined ? 'text-black-400' : ''
                            }`}
                        >
                            {/* <span class="text-md font-bold">
                                        {formatNumber(index, photos.length)}
                                    </span>
                                    <span>–</span>
                                    <span>{formatDate(index, photos.length)}</span> */}
                        </figcaption>
                    </figure>
                </SliderItem>
            ))
        }
        <SliderItem emptyEnd />
    </Slider>
</div>
