---
import Layout from "@layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ProjectsSection from "@components/sideprojects/ProjectsSection.astro";
import PostcardsSection from "@components/postcards/PostcardsSection.astro";
import LatestBookmarks from "@components/bookmarks/LatestBookmarks.astro";
import PhotographyCarousel from "@components/photography/PhotographyCarousel.svelte";
import Divider from "@components/Divider.astro";
---

<Layout>
    <Hero />
    <div class="flex gap-40 mt-10 flex-col">
        <ProjectsSection />
        <Divider />
        <PhotographyCarousel client:only="svelte" />
        <Divider />
        <PostcardsSection limit={6} />
        <Divider />
        <LatestBookmarks />
        <Footer />
    </div>
</Layout>
