---
import Layout from '@layouts/Layout.astro';
import LatestBookmarks from '@components/bookmarks/LatestBookmarks.astro';
import Hero from '@components/hero.astro';
import Divider from '@components/Divider.astro';
import SideProjectSection from '@components/SideProjectSection.astro';
import PhotographySection from '@components/PhotographySection.astro';
import OpenStoriesSection from '@components/open-stories/OpenStoriesSection.astro';
import GardenSection from '@components/GardenSection.astro';
---

<Layout title="Home">
    <Hero />
    <div class="flex flex-col gap-16 py-20 lg:gap-24 lg:py-40">
        <PhotographySection />
        <Divider />
        <SideProjectSection />
        <Divider />
        <!-- <GardenSection />
        <Divider /> -->
        <OpenStoriesSection />
        <Divider />
        <LatestBookmarks />
    </div>
</Layout>
