---
import Layout from "@layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import PostcardsSection from "@components/postcards/PostcardsSection.astro";
import LatestBookmarks from "@components/bookmarks/LatestBookmarks.astro";
import PhotographyCarousel from "@components/photography/PhotographyCarousel.astro";
import Divider from "@components/Divider.astro";
import ProjectsCarousel from "@components/sideprojects/ProjectsCarousel.astro";
---

<Layout>
    <Hero />
    <div class="flex gap-24 mt-32 flex-col">
        <ProjectsCarousel />
        <Divider />
        <PhotographyCarousel />
        <Divider />
        <PostcardsSection limit={6} />
        <Divider />
        <LatestBookmarks />
        <Footer class="mt-32" />
    </div>
</Layout>
