---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.svelte";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>iamrobin</title>
    </head>
    <body>
        <Hero />
        <div class="stack">
            <ProjectsCarousel client:only="svelte" />
            <ProjectsCarousel client:only="svelte" />
            <ProjectsCarousel client:only="svelte" />
            <div class="placeholder">placeholder</div>
            <Footer />
        </div>
    </body>
</html>

<style>
    .stack {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        margin-top: 40px;
    }

    .placeholder {
        height: 100vh;
    }
</style>
