---
import Layout from "@layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.svelte";
import PostcardsSection from "@components/PostcardsSection.astro";
import LatestBookmarks from "@components/bookmarks/LatestBookmarks.astro";
import PhotographySection from "@components/PhotographySection.astro";
---

<Layout>
    <Hero />
    <div class="stack">
        <PhotographySection />
        <PostcardsSection limit={6} />
        <LatestBookmarks />
        <ProjectsCarousel client:only="svelte" />
        <ProjectsCarousel client:only="svelte" />
        <ProjectsCarousel client:only="svelte" />
        <Footer />
    </div>
</Layout>

<style>
    .stack {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        margin-top: 40px;
    }
</style>
