---
import { getAllObsidianGardenEntries, getObsidianGardenCategories } from 'src/api/github';
import Grid from '../Grid.astro';
import GridBox from '../GridBox.astro';
import { navData } from '../Header.astro';
import GardenBreadcrumb from '@components/GardenBreadcrumb.astro';

interface Props {
    path: string | undefined;
    slug: string | undefined;
}

const { path, slug } = Astro.props;
---

<>
    <header class="z-50 bg-white lg:sticky lg:top-0 lg:border-b lg:border-neutral-200 lg:py-4">
        <Grid>
            <GridBox desktopStart={1} desktopEnd={3} classes="lg:absolute lg:left-8 xl:static">
                <a href="/" class="inline-block py-4 italic lg:py-0"> iamrobin</a>
            </GridBox>
            <GridBox desktopStart={5} desktopEnd={10} classes="hidden lg:block">
                <nav class="flex gap-8">
                    {
                        navData.map((item) => (
                            <a
                                data-navLink
                                href={item.path}
                                class="nav-item group relative font-mono text-xs uppercase tracking-widest hover:text-blue"
                            >
                                {item.name}
                                <span class="pointer-events-none absolute -left-3 top-[6px] mx-auto h-[6px] w-[6px] rounded-full bg-blue opacity-0 transition-all duration-300" />
                            </a>
                        ))
                    }
                </nav>
            </GridBox>
            <GridBox desktopStart={11} desktopEnd={12} classes="flex justify-end" />
        </Grid>
    </header>
    {
        (path || slug) && (
            <div class="sticky top-0 z-50 border-b border-neutral-200 bg-white lg:hidden">
                <Grid classes="py-2">
                    <GridBox desktopFull>
                        <GardenBreadcrumb path={path} slug={slug} />
                    </GridBox>
                </Grid>
            </div>
        )
    }
</>

<style>
    .nav-item.active {
        font-weight: 700;
    }
    .nav-item.active span {
        opacity: 0;
    }
</style>
