---
interface Props {
    color: string;
    href: string;
    title: string;
    count: number;
    isActive: boolean;
}

const { color, href, title, count, isActive } = Astro.props;
---

<li class="border">
    <a
        href={href}
        class:list={[
            "text-base no-underline hover:underline flex items-center gap-2",
            isActive ? "font-bold" : "",
        ]}
    >
        <span
            class="inline-block w-3 h-3 rounded-full shrink-0"
            style=`background-color: ${color}`
        >
        </span>
        {title}
        <span class="text-text-muted">({count})</span>
    </a>
</li>
