---
import SectionContent from './SectionContent.astro';
import { getNewestObsidianGardenEntries } from 'src/api/github';
import NoteCard from './garden/NoteCard.astro';
import NewSlider from './newSlider/NewSlider.astro';
import NewSliderItem from './newSlider/NewSliderItem.astro';

const newestObsidianEntries = await getNewestObsidianGardenEntries(10, 'created');
---

<div>
    <SectionContent title="Digital Garden" linkText="more notes" linkUrl="/garden">
        My Digital Garden is a collection of evolving ideas and discoveries. Here, you can explore
        the last notes I’ve added—freshly synced from my Obsidian workspace.
    </SectionContent>
    <NewSlider>
        {
            newestObsidianEntries.map((note) => (
                <NewSliderItem
                    classes="py-8"
                    largeFraction={4}
                    mediumFraction={2.5}
                    smallFraction={1.5}
                >
                    <NoteCard data={note} path={`garden/${note.path}`} category={note.path} />
                </NewSliderItem>
            ))
        }
    </NewSlider>
</div>
