---
import { projects } from 'src/content/projects';
import Slider from './slider/Slider.astro';
import SliderItem from './slider/SliderItem.astro';
import ProjectItem from './ProjectItem.astro';
import SectionContent from './SectionContent.astro';
---

<div>
    <SectionContent title="Generative art">
        Aliquip voluptate esse laboris irure ex id amet culpa mollit esse amet. Do quis sunt laboris
        magna id do et non. Duis esse minim do sint voluptate elit dolor dolor eiusmod do proident
        commodo ad cupidatat. Nulla eu ex consectetur ad. Deserunt aute qui eu aute ex est.
    </SectionContent>
    <Slider>
        {
            projects.map((project, index) => (
                <SliderItem classes="py-3" size="medium">
                    {index}
                </SliderItem>
            ))
        }
        <SliderItem emptyEnd />
    </Slider>
</div>
