---
interface Props {
    columns?: number;
    gap?: string;
    class?: string;
    id?: string;
}

const { columns, gap, class: className, id } = Astro.props;
---

<div
    id={id}
    class:list={["grid", className]}
    style={[columns && `--columns: ${columns}`, gap && `--gap: ${gap}`]
        .filter(Boolean)
        .join("; ")}
>
    <slot />
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: var(--gap);
        width: 100%;
        max-width: var(--max-width);
        margin: 0 auto;
        container-type: inline-size;
    }
</style>
