---
import Grid from './Grid.astro';
import GridBox from './GridBox.astro';

interface NavItem {
    name: string;
    path: string;
}

export const navData: NavItem[] = [
    {
        name: 'Media',
        path: '/media'
    },
    {
        name: 'Bookmarks',
        path: '/bookmarks'
    },
    {
        name: 'Postcards',
        path: '/postcards'
    },
    {
        name: 'Garden',
        path: '/garden'
    },
    {
        name: 'Blog',
        path: '/blog'
    },
    {
        name: '365 project',
        path: '/365'
    }
];
---

<header id="header" class="z-50 h-0 lg:sticky lg:top-0 lg:mt-14 lg:h-auto lg:py-4">
    <Grid>
        <GridBox desktopStart={1} desktopEnd={3}>
            <div class="absolute top-3 sm:top-6 md:top-12 lg:bottom-4 lg:top-auto">
                <a
                    href="/"
                    id="header-logo"
                    class="flex -rotate-6 font-bold italic tracking-wider text-black-300 transition-all duration-300 ease-out-cubic hover:text-black"
                >
                    <span id="header-i" class="text-lg transition-all duration-300 ease-out-cubic">
                        i
                    </span>
                    <span
                        id="header-am"
                        class="ml-1 text-lg transition-all duration-300 ease-out-cubic"
                    >
                        am
                    </span>
                    <span
                        id="header-robin"
                        class="-translate-x-16 translate-y-7 text-lg transition-all duration-300 ease-out-cubic"
                    >
                        robin
                    </span>
                </a>
            </div>
        </GridBox>
        <GridBox desktopStart={4} desktopEnd={12} classes="hidden lg:block">
            <nav class="flex justify-end gap-8">
                {
                    navData.map((item) => (
                        <a
                            data-navLink
                            href={item.path}
                            class="nav-item group relative font-mono text-xs uppercase tracking-widest hover:text-blue"
                        >
                            {item.name}
                            <span class="pointer-events-none absolute -left-3 top-[6px] mx-auto h-[6px] w-[6px] rounded-full bg-blue opacity-0 transition-all duration-300" />
                        </a>
                    ))
                }
            </nav>
        </GridBox>
        <!-- <GridBox desktopStart={11} desktopEnd={12} classes="flex justify-end">
            <span>🌑</span>
        </GridBox> -->
    </Grid>
</header>

<style>
    .nav-item.active {
        font-weight: 700;
    }
    .nav-item.active span {
        opacity: 0;
    }
</style>

<!-- client-side JS -->
<script>
    const navLinks = document.querySelectorAll('[data-navLink]');
    navLinks.forEach((link) => {
        const href = link.getAttribute('href');

        // Special case for home page
        if (href === '/' && window.location.pathname === '/') {
            link.classList.add('active');
        }
        // For other pages, check if the current path starts with the nav item path
        else if (href !== '/' && href && window.location.pathname.startsWith(href)) {
            link.classList.add('active');
        }
    });

    function adjustHeaderClasses() {
        if (window.innerWidth < 1024) return;
        const header = document.getElementById('header');
        const headerLogo = document.getElementById('header-logo');
        const headerI = document.getElementById('header-i') as HTMLSpanElement;
        const headerAm = document.getElementById('header-am') as HTMLSpanElement;
        const headerRobin = document.getElementById('header-robin') as HTMLSpanElement;

        const logoClassesExpanded = ['-rotate-6', 'tracking-wider', 'text-black-300'];
        const logoClassesCollapsed = ['text-sm', 'text-black', 'font-normal'];

        const robinTypeClassesExpanded = ['text-lg', '-translate-x-16', 'translate-y-7'];

        const amTypeClassesExpanded = ['text-lg', 'ml-1'];
        const iTypeClassesExpanded = ['text-lg'];

        if (window.scrollY < 56) {
            header?.classList.remove('bg-white', 'border-b', 'border-neutral-200');
            headerLogo?.classList.add(...logoClassesExpanded);

            headerRobin?.classList.add(...robinTypeClassesExpanded);
            headerRobin?.classList.remove(...logoClassesCollapsed);

            headerAm?.classList.add(...amTypeClassesExpanded);
            headerAm?.classList.remove(...logoClassesCollapsed);

            headerI?.classList.add(...iTypeClassesExpanded);
            headerI?.classList.remove(...logoClassesCollapsed);
        } else {
            header?.classList.add('bg-white', 'border-b', 'border-neutral-200');
            headerLogo?.classList.remove(...logoClassesExpanded);

            headerRobin?.classList.add(...logoClassesCollapsed);
            headerRobin?.classList.remove(...robinTypeClassesExpanded);

            headerAm?.classList.add(...logoClassesCollapsed);
            headerAm?.classList.remove(...amTypeClassesExpanded);

            headerI?.classList.add(...logoClassesCollapsed);
            headerI?.classList.remove(...iTypeClassesExpanded);
        }
    }

    // Run the function immediately to set the classes correctly on initial load
    adjustHeaderClasses();

    // Set up the event listener for the scroll event
    window.addEventListener('scroll', adjustHeaderClasses);
</script>
