---
import type { Heading } from '../utils/markdown';
import TableOfContentsItem from './TableOfContentsItem.astro';

interface Props {
    headings: Heading[];
}

const { headings } = Astro.props;

// Only show TOC if there are headings
const showTOC = headings.length > 0;
---

{
    showTOC && (
        <details open class="mb-8 rounded-lg border border-black-50 bg-neutral-100 p-4">
            <summary class="-m-4 cursor-pointer select-none p-4 font-medium focus:outline-none">
                <span>Table of Contents</span>
            </summary>
            <div class="mt-4 text-sm">
                <nav id="TableOfContents" class="toc-nav">
                    <ul class="m-0 list-none p-0">
                        {headings.map((heading) => (
                            <TableOfContentsItem heading={heading} />
                        ))}
                    </ul>
                </nav>
            </div>
        </details>
    )
}
