---
interface Props {
    year: number | string;
}

const { year } = Astro.props;
---

<div class="mb-8 border-b border-neutral-300 py-2">
    <h2 class="text-grey-600 text-base font-bold">{year}</h2>
</div>
