@font-face {
    font-family: "apercu";
    src: url("/fonts/apercu-regular-pro.woff2") format("woff2"),
        url("/fonts/apercu-regular-pro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "apercu";
    src: url("/fonts/apercu-bold-pro.woff2") format("woff2"),
        url("/fonts/apercu-bold-pro.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

/* fira-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Fira Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/fira-mono-v14-latin-regular.woff2") format("woff2");
}
/* fira-mono-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Fira Mono";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/fira-mono-v14-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "LiebeHeide";
    src: url("/fonts/LiebeHeide-FinelinerBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@theme {
    /* Font Family */
    --font-*: initial;
    --font-sans: "apercu", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono: "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
    --font-decorative: "LiebeHeide", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Font Weight */
    --font-weight-*: initial;
    --font-weight-hairline: 100;
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* Line Height */
    --leading-xs: 0.8;
    --leading-sm: 0.9;
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    /*
   https://www.fluid-type-scale.com/calculate?minFontSize=19&minWidth=320&minRatio=1.125&maxFontSize=23&maxWidth=1536&maxRatio=1.333&steps=2xs,xs,sm,base,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,8xl,9xl,10xl,11xl&baseStep=base&prefix=text&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it,+we+had+left+the+ground&previewWidth=487
  */

    /* Font Size */
    --text-2xs: clamp(0.7rem, -0.27vi + 0.76rem, 0.61rem);
    --text-xs: clamp(0.79rem, 0.05vi + 0.78rem, 0.81rem);
    --text-sm: clamp(0.89rem, 0.53vi + 0.78rem, 1.08rem);
    --text-base: clamp(1rem, 1.22vi + 0.76rem, 1.44rem);
    --text-lg: clamp(1.13rem, 2.2vi + 0.69rem, 1.92rem);
    --text-xl: clamp(1.27rem, 3.58vi + 0.55rem, 2.55rem);
    --text-2xl: clamp(1.42rem, 5.5vi + 0.32rem, 3.4rem);
    --text-3xl: clamp(1.6rem, 8.16vi + -0.03rem, 4.54rem);
    --text-4xl: clamp(1.8rem, 11.8vi + -0.56rem, 6.05rem);
    --text-5xl: clamp(2.03rem, 16.77vi + -1.33rem, 8.06rem);
    --text-6xl: clamp(2.28rem, 23.53vi + -2.42rem, 10.75rem);
    --text-7xl: clamp(2.57rem, 32.68vi + -3.97rem, 14.33rem);
    --text-8xl: clamp(2.89rem, 45.04vi + -6.12rem, 19.1rem);
    --text-9xl: clamp(3.25rem, 61.71vi + -9.09rem, 25.46rem);
    --text-10xl: clamp(3.65rem, 84.14vi + -13.17rem, 33.94rem);
    --text-11xl: clamp(4.11rem, 114.26vi + -18.74rem, 45.24rem);

    /* Line Height */
    --text-2xs--line-height: var(--leading-relaxed);
    --text-xs--line-height: var(--leading-relaxed);
    --text-sm--line-height: var(--leading-relaxed);
    --text-base--line-height: var(--leading-relaxed);
    --text-lg--line-height: var(--leading-normal);
    --text-xl--line-height: var(--leading-tight);
    --text-2xl--line-height: var(--leading-tight);
    --text-3xl--line-height: var(--leading-tight);
    --text-4xl--line-height: var(--leading-none);
    --text-5xl--line-height: var(--leading-none);
    --text-6xl--line-height: var(--leading-none);
    --text-7xl--line-height: var(--leading-sm);
    --text-8xl--line-height: var(--leading-sm);
    --text-9xl--line-height: var(--leading-sm);
    --text-10xl--line-height: var(--leading-xs);
    --text-11xl--line-height: var(--leading-xs);
}
