---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SEO } from 'astro-seo';
import MobileMenu from '@components/MobileMenu.astro';
import ContactLinksSection from '@components/ContactLinksSection.astro';
import DistortFilter from '@components/DistortFilter.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
const adjustedTitle = title ? 'iamrobin' + ' | ' + title : 'iamrobin';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const imageFileName = title === '365' ? '/opengraph-365.jpg' : '/opengraph.jpg';
const resolvedImageWithDomain = new URL(imageFileName, Astro.site).toString();
---

<!doctype html>
<html lang="en" class="overscroll-none">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="robins own little space on the internet" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="alternate" type="application/rss+xml" title="365 RSS Feed" href="/365-rss.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>{adjustedTitle}</title>
        <script src="/iamrobin/js/script.js" data-api="/iamrobin/api/event" data-domain="iamrob.in"
        ></script>
        <SEO
            title={adjustedTitle}
            description="personal website of iamrobin"
            canonical={canonicalURL}
            openGraph={{
                basic: {
                    url: canonicalURL,
                    type: 'website',
                    title: title,
                    image: resolvedImageWithDomain
                },
                image: {
                    alt: 'iamrobin personal website screenshot'
                }
            }}
        />
    </head>
    <body class="min-h-[calc(100vh-56px)] overflow-x-hidden">
        <Header />
        <MobileMenu />
        <slot />
        <ContactLinksSection />
        <Footer />
        <DistortFilter />
    </body>
</html>
