---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SEO } from 'astro-seo';
import MobileMenu from '@components/MobileMenu.astro';
import ContactLinksSection from '@components/ContactLinksSection.astro';

interface Props {
    title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString();

const { title } = Astro.props;
const adjustedTitle = title ? 'iamrobin' + ' | ' + title : 'iamrobin';
---

<!doctype html>
<html lang="en" class="overscroll-none">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="robins own little space on the internet" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{adjustedTitle}</title>
        <script>
            // DARKMODE
            if (
                localStorage?.getItem('dark-mode') === 'true' ||
                (!('dark-mode' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.querySelector('html')?.classList.add('dark');
            } else {
                document.querySelector('html')?.classList.remove('dark');
            }
            // MONOCHROME MODE
            if (localStorage?.getItem('monochrome-mode') === 'true') {
                document.querySelector('html')?.classList.add('monochrome');
            } else {
                document.querySelector('html')?.classList.remove('monochrome');
            }
        </script>
        <script src="/iamrobin/js/script.js" data-api="/iamrobin/api/event" data-domain="iamrob.in"
        ></script>
        <SEO
            title={adjustedTitle}
            description="personal website of iamrobin"
            canonical={canonicalURL}
            openGraph={{
                basic: {
                    url: canonicalURL,
                    type: 'website',
                    title: title,
                    image: resolvedImageWithDomain
                },
                image: {
                    alt: 'iamrobin personal website screenshot'
                }
            }}
        />
    </head>
    <body
        class="dark:bg-grey-900 min-h-[calc(100vh-56px)] overflow-x-hidden text-black dark:text-white-900"
    >
        <Header />
        <MobileMenu />
        <slot />
        <ContactLinksSection />
        <Footer />
    </body>
</html>
