---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | iamrobin</title>
        <ClientRouter />
    </head>
    <body class="bg-neutral-900 min-h-screen">
        <!-- Project content -->
        <div class="flex-1 px-4 pb-16">
            <div
                class="max-w-3xl mx-auto bg-white rounded-xl shadow-2xl overflow-hidden"
            >
                <slot />
            </div>
        </div>

        <!-- <script>
            document
                .getElementById("close-overlay")
                ?.addEventListener("click", () => {
                    if (window.history.length > 1) {
                        window.history.back();
                    } else {
                        window.location.href = "/";
                    }
                });

            // Also close on Escape key
            document.addEventListener("keydown", (e) => {
                if (e.key === "Escape") {
                    if (window.history.length > 1) {
                        window.history.back();
                    } else {
                        window.location.href = "/";
                    }
                }
            });
        </script> -->
    </body>
</html>
