---
import Grid from '@components/Grid.astro';
import OpenStoriesCategory from './OpenStoriesCategory.astro';
import GridBox from '@components/GridBox.astro';
import SectionContent from '@components/SectionContent.astro';
import InlineLink from '@components/InlineLink.astro';
---

<Grid>
    <GridBox desktopFull>
        <SectionContent title="Stories">
            Instagram-style stories, minus the social media. This should serve as a kind of visual
            diary with snapshots of things that I like and do. Powered by the great open-source
            package <InlineLink href="https://github.com/dddddddddzzzz/OpenStories">
                open-stories
            </InlineLink>.
        </SectionContent>
        <div class="flex gap-8 overflow-x-auto p-1">
            <OpenStoriesCategory title="bicycle" />
            <OpenStoriesCategory title="me" />
            <OpenStoriesCategory title="art" />
            <OpenStoriesCategory title="hiking" />
            <OpenStoriesCategory title="cooking" />
        </div>
    </GridBox>
</Grid>

<!-- <script src="https://unpkg.com/open-stories-element@latest" type="module" defer></script> -->
<!-- USE LOCAL VERSION TO OVERWRITE OBJECT FIT FROM CONTAIN TO COVER AND TO CHANGE FROM 9/16 TO 2/3 -->
<script src="/src/utils/open-stories-element.js" type="module" defer></script>

<style>
    a {
        color: #635c7f;
    }

    a:hover {
        color: #4c4666;
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }
</style>
