@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply antialiased text-black font-sans text-base;
    overscroll-behavior: none;
  }

  [data-theme='blue'] body {
    /* BACKGROUND */
    --background-body: theme("colors.blue.500");
    --background-level-1: theme("colors.white");
    --background-level-2: theme("colors.grey.100");
    --background-level-3: theme("colors.grey.150");
    --background-level-4: theme("colors.grey.200");
    /* TEXT */
    --text-level-1: theme("colors.grey.1000");
    --text-level-2: theme("colors.grey.900");
    --text-level-3: theme("colors.grey.600");
    --text-level-4: theme("colors.grey.400");
    --text-level-5: theme("colors.grey.300");
    /* NAVIGATION TEXT */
    --nav-text-level-1: theme("colors.blue.100");
    --nav-text-level-2: theme("colors.blue.150");
    --nav-text-level-3: theme("colors.blue.300");
    --nav-background-level-1: theme("colors.blue.450");
    --nav-background-level-2: theme("colors.blue.550");
    --nav-icon-active: theme("colors.blue.100");
    --nav-icon-inactive: theme("colors.blue.250");
    --nav-hotkey-bg: theme("colors.blue.450");
    --nav-hotkey-bg-active: theme("colors.blue.400");
    --nav-hotkey-text: theme("colors.blue.150");
    --nav-fill-logo: theme("colors.blue.200");
  }

  [data-theme='light'] body {
    /* BACKGROUND */
    --background-body: theme("colors.grey.150");
    --background-level-1: theme("colors.white");
    --background-level-2: theme("colors.grey.100");
    --background-level-3: theme("colors.grey.150");
    --background-level-4: theme("colors.grey.200");
    --background-level-5: theme("colors.grey.300");
    /* TEXT */
    --text-level-1: theme("colors.grey.1000");
    --text-level-2: theme("colors.grey.900");
    --text-level-3: theme("colors.grey.600");
    --text-level-4: theme("colors.grey.400");
    --text-level-5: theme("colors.grey.300");
    /* NAVIGATION */
    --nav-text-level-1: theme("colors.grey.1000");
    --nav-text-level-2: theme("colors.grey.500");
    --nav-text-level-3: theme("colors.grey.400");
    --nav-background-level-1: theme("colors.white");
    --nav-background-level-2: theme("colors.grey.200");
    --nav-icon-active: theme("colors.blue.400");
    --nav-icon-inactive: theme("colors.grey.800");
    --nav-hotkey-bg: theme("colors.grey.200");
    --nav-hotkey-bg-active: theme("colors.grey.150");
    --nav-hotkey-text: theme("colors.grey.550");
    --nav-fill-logo: theme("colors.blue.450");

  }

  [data-theme='dark'] body {
    /* BACKGROUND */
    --background-body: theme("colors.grey.1000");
    --background-level-1: theme("colors.grey.950");
    --background-level-2: theme("colors.grey.900");
    --background-level-3: theme("colors.grey.850");
    --background-level-4: theme("colors.grey.850");
    /* TEXT */
    --text-level-1: theme("colors.grey.200");
    --text-level-2: theme("colors.grey.300");
    --text-level-3: theme("colors.grey.500");
    --text-level-4: theme("colors.grey.600");
    --text-level-5: theme("colors.grey.700");
    /* NAVIGATION */
    --nav-text-level-1: theme("colors.grey.200");
    --nav-text-level-2: theme("colors.grey.400");
    --nav-text-level-3: theme("colors.grey.600");
    --nav-background-level-1: theme("colors.grey.900");
    --nav-background-level-2: theme("colors.grey.950");
    --nav-icon-active: theme("colors.blue.400");
    --nav-icon-inactive: theme("colors.grey.400");
    --nav-hotkey-bg: theme("colors.grey.900");
    --nav-hotkey-bg-active: theme("colors.grey.950");
    --nav-hotkey-text: theme("colors.grey.500");
    --nav-fill-logo: theme("colors.blue.400");
  }

  body {
    background-color: var(--background-body);
    overflow-x: hidden;
    overscroll-behavior: none;
  }

  .resize-animation-stopper *,
  .resize-animation-stopper *:after,
  .resize-animation-stopper *:before {
    animation: none !important;
    transition: none !important;
  }

  @media screen and (max-width: 800px) {
    body.mobile-menu-open {
      overflow: hidden;
    }
  }
}

@layer components {
  .default-transition {
    @apply transition-all duration-[700ms] ease-in-out;
  }

  .short-transition {
    @apply transition-[all] duration-[500ms] ease-in-out;
  }

  .transform-three-d {
    transform-style: preserve-3d;
    transform-origin: center;
  }

  .book-rotate {
    transform: rotateX(80deg) rotateZ(45deg) scale(0.75);
  }

  .book-perspective {
    perspective: 500px;
  }

  .book-bottom {
    transform: translateY(0) translateX(0px) translateZ(0) rotateX(-90deg);
    transform-origin: top;
    height: var(--book-height, 30px);
  }

  .book-right {
    transform: translateY(0) translateX(0px) translateZ(0) rotateY(-90deg);
    transform-origin: right;
    width: var(--book-height, 30px);
  }

  .book-stripes {
    background-image: linear-gradient(
      0deg,
      #f6f6f6 40%,
      #eaeaed 40%,
      #eaeaed 50%,
      #f6f6f6 50%,
      #f6f6f6 90%,
      #eaeaed 90%,
      #eaeaed 100%
    );
    background-size: 4px 4px;
  }

  .book-stripes-right {
    background-image: linear-gradient(
      90deg,
      #ffffff 40%,
      #f6f6f6 40%,
      #f6f6f6 50%,
      #ffffff 50%,
      #ffffff 90%,
      #f6f6f6 90%,
      #f6f6f6 100%
    );
    background-size: 3px 3px;
  }

  .vinyl {
    background: radial-gradient(
      circle,
      #f6f6f6 0 10%,
      white 11% 25%,
      #222 26% 30%,
      #2b2b2b 31% 32%,
      #222 33% 37%,
      #2b2b2b 38% 39%,
      #222 40% 44%,
      #2b2b2b 45% 46%,
      #222 47% 51%,
      #2b2b2b 52% 53%,
      #222 54% 58%,
      #2b2b2b 59% 60%,
      #222 61% 65%,
      #2b2b2b 66% 67%,
      #222 68% 72%,
      #2b2b2b 73% 74%,
      #222 75% 79%,
      #2b2b2b 80% 81%,
      #222 82% 86%,
      #2b2b2b 87% 88%,
      #222 89% 93%,
      #2b2b2b 94% 95%,
      #222 96% 100%
    );
  }

  .album-rotate {
    transform-origin: left left;
    transform: perspective(400px) rotateY(-25deg) scale(0.8);
  }
}
